<div class="container-fluid bg-primary">
  <div class="row">
    <div class="col-3 text-end my-auto">
      <a class="navbar-brand text-end" href="#">
        <img class="logo p-2 w-25 " src="/images/Logo2.png" alt=""
      /></a>
    </div>
    <div class="col-6 my-auto">
      <p class="text-center m-0">Copyright © Steam Restaurant & Drinks 2020. All Rights Reserved.</p>
    </div>
    <div class="col-3 my-auto">
      <ul class="list-inline m-0">
        <li class="list-inline-item me-4"><a href=""><img class="scoial-img " src="/images/facebook.png" alt="facebook"></a></li>
        <li class="list-inline-item me-4"><a href=""><img class="scoial-img " src="/images/instagram.png" alt="instagram"></a></li>
        <li class="list-inline-item me-4"><a href=""><img class="scoial-img " src="/images/youtube.png" alt="youtube"></a></li>
        <li class="list-inline-item me-4"><a href=""></a></li>
      </ul>
    </div>
  </div>
</div>

