<div class="container-fluid bg-primary">
  <div class="row">
    <div class="col-3 text-end my-auto">
    
        <img class="logo p-2  " src="/images/logo.png" loading="lazy" alt=""
      />
    </div>
    <div class="col-6 my-auto">
      <p class="text-center m-0 color-primary">Copyright © Al Sabeel ul Kaba <span>{{currentDate.getFullYear()}}</span>. All Rights Reserved.</p>
      <!-- <p class="text-center m-0 color-primary">Copyright © Al Sabeel ul Kaba <span>{{currentDate |date:'yyyy'}}</span>. All Rights Reserved.</p> -->
    </div>
    <div class="col-3 my-auto">
      <ul class="list-inline m-0">
        <li class="list-inline-item me-4"><a href=""><img class="scoial-img " src="/images/facebook.png" loading="lazy" alt="facebook"></a></li>
        <li class="list-inline-item me-4"><a href=""><img class="scoial-img " src="/images/instagram.png" loading="lazy" alt="instagram"></a></li>
        <li class="list-inline-item me-4"><a href=""><img class="scoial-img " src="/images/youtube.png" loading="lazy" alt="youtube"></a></li>
        <li class="list-inline-item me-4"><a href=""></a></li>
      </ul>
    </div>
  </div>
</div>

