



    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid ">
      <div class="row w-100 m-3">
        <div class="col-4 text-center">
             <a class="navbar-brand text-end" href="#">
            <img class="logo " src="/images/logo.png" alt="">
        </a>
        </div>
          <div class="col-8 ">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse nav-underline navbar-collapse  " id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item ">
              <a class="nav-link  text-uppercase" aria-current="page" routerLink="/home" routerLinkActive="active"  href="#">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link  text-uppercase" routerLink="/hajj" routerLinkActive="active">Hajj</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link  text-uppercase" routerLink="/umarh" routerLinkActive="active">umrah</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link  text-uppercase" routerLink="/aboutUs" routerLinkActive="active">ABout Us</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link  text-uppercase" routerLink="/gallery" routerLinkActive="active">Gallery</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link  text-uppercase" routerLink="/contactUs" routerLinkActive="active">Contact Us</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
        </div>
      </div>
      </div>
    
       
       
     
      </div>
    </nav>




