
#navbarNav{
    justify-content: end;
  margin-right: 10%;
}

#navbarNav .nav-item{
    padding: 10px;
    margin: 0px 20px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
 
  
}

#navbarNav .nav-item>a{
   
    color:var(--primary-color);
    transition: all 0.5s ease;
  
}

.top{
    background-color: var(--primary-color);
}

.description{
   font-weight: 600;
   color: #331010 !important;
}


.icon{
    width: 20px;
    filter: none;
    margin: 0px 10px 0px 0px;
}
/* .logo{
    mix-blend-mode: multiply;
    width: 100px;
    text-align: end;
} */