/* .photo{
    width: 500px;
    object-fit:contain;
    aspect-ratio: 1/1;
} */

.gallery {
 width: 350px;
  height: 330px;
}

.photo {
 width: 100%;
 height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 6px;
  border: 1px solid gray;
}