<section class="position-relative">

 <owl-carousel-o id="bgSlideShow" [options]="Owlhome">

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic1.jpg" alt="First slide">
            </div>

        </ng-template>

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic2.jpg" alt="Second slide">
            </div>

        </ng-template>

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic3.jpg" alt="Third slide">
            </div>

        </ng-template>

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic4.jpg" alt="Fourth slide">
            </div>

        </ng-template>

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic5.jpg" alt="Fifth slide">
            </div>

        </ng-template>
        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic6.jpg" alt="Fifth slide">
            </div>

        </ng-template>

    </owl-carousel-o>

   
<div class="welcome  position-absolute z-1 top-0 w-100">
    <div class="position-relative container text-center">

         <img class="welcome-img" src="/images/bismillah.png" alt="">
    <p class="text-light text-center welcome-text">Welcome to <strong>Al Sabeel Ul Qaba </strong>  a name you can trust. We feel honored to serve you on your sacred journey of Hajj and Umrah.
Our mission is to make your spiritual journey seamless, comfortable, and spiritually fulfilling, with top-quality service every step of the way ensuring your pilgrimage is a truly blessed and memorable experience. <br>

“May your journey to the House of Allah be filled with peace, faith, and divine acceptance.”</p>
    </div>
   
</div>
</section>