<section class="position-relative">

    <owl-carousel-o id="bgSlideShow" [options]="Owlhome">

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic1.jpg" alt="First slide">
            </div>

        </ng-template>

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic2.jpg" alt="Second slide">
            </div>

        </ng-template>

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic3.jpg" alt="Third slide">
            </div>

        </ng-template>

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic4.jpg" alt="Fourth slide">
            </div>

        </ng-template>

        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic5.jpg" alt="Fifth slide">
            </div>

        </ng-template>
        <ng-template carouselSlide>
            <div class="overlay">

                <img class="img-fluid" src="/images/kabaPic6.jpg" alt="Fifth slide">
            </div>

        </ng-template>

    </owl-carousel-o>

</section>