
<app-title-page [data]="{  link:'About Us' , page1: 'Home', page2: 'About Us' }"/>
<section id="address" class="bg-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="pt-0 headingprimary">About Al Sabeel Ul Qaba</h2>
        <div class="dividerimg">
          <img src="/images/divider.png" alt="" loading="lazy" />
        </div>
        <!-- <p class="mt-0 mb-3 description colorgray">
          For any inquiries about our travel packages and services, please don’t
          hesitate to reach out. We’re here to assist you every step of the way!
        </p> -->
      </div>
      <div class="col-sm-12 text-center">
        <h2 class="pt-0 headingsecondary">
          Guiding You on Your Journey of Faith
        </h2>

        <p class="mt-0 mb-3 description colorgray text-start">
          At Al Sabeel Ul Qaba Hajj & Umrah, we take pride in serving the
          honored guests of Allah by providing exceptional Hajj and Umrah
          services. Our mission is to make your spiritual journey seamless,
          comfortable, and deeply meaningful — from the moment you plan your
          trip until you safely return home.
        </p>
        <p class="mt-0 mb-3 description colorgray text-start">
          With years of experience in organizing Hajj, Umrah, and Islamic tours,
          our dedicated team ensures that every aspect of your pilgrimage is
          handled with care, transparency, and professionalism. We partner with
          trusted airlines, hotels, and local operators to deliver reliable and
          affordable travel packages that meet the highest standards.
        </p>
        <p class="mt-0 mb-3 description colorgray text-start">
          Whether you’re embarking on your first Umrah or performing Hajj with
          family, Al Sabeel Ul Qaba is here to guide you at every step — so you
          can focus entirely on your worship and spiritual connection.
        </p>
      </div>
      <div class="col-sm-12 text-center">
        <h2 class="pt-0 headingsecondary">Our Mission</h2>

        <p class="mt-0 mb-3 description colorgray text-start">
          To serve the guests of Allah by delivering hassle-free, spiritually
          enriching pilgrimage experiences through personalized service,
          transparency, and care.
        </p>
      </div>
      <div class="col-sm-12 text-center">
        <h2 class="pt-0 headingsecondary">Our Vision</h2>

        <p class="mt-0 mb-3 description colorgray text-start">
          To be a leading and trusted provider of Hajj and Umrah services,
          inspiring pilgrims through excellence, sincerity, and dedication to
          faith.
        </p>
      </div>
      <div class="col-sm-12 text-center">
        <h2 class="pt-0 headingsecondary">Our Values</h2>

        <p class="mt-0 mb-3 description colorgray text-start">
          Integrity: We operate with honesty, transparency, and respect.<br />

          Service: We serve every pilgrim with compassion and dedication.<br />

          Excellence: We strive for quality and reliability in everything we
          do.<br />

          Faith: We work with sincerity, guided by our devotion to Allah (SWT).
        </p>
      </div>
    </div>

   
  </div>
</section>

<section id="profile" class="bg-secondary">
  <div class="container-fluid">
     <div class="row justify-content-center">
      <div class="col-sm-12 text-center mb-5">
        <h2 class="pt-0 headingprimary">OUR TEAM</h2>
        <div class="dividerimg">
          <img src="/images/divider.png" alt="" loading="lazy" />
        </div>
        <!-- <p class="mt-0 mb-3 description colorgray">
          For any inquiries about our travel packages and services, please don’t
          hesitate to reach out. We’re here to assist you every step of the way!
        </p> -->
      </div>

      <div class="col-12 col-sm-6 col-lg-3 my-5">
        <app-profile-card
          [carddata]="{
            imgurl: '/profilePics/shahzeb3.jpg',
            designation: 'CFO',
            name: 'shahzeb khan',
            cellno:923038455848,
            links: [
              'https://www.facebook.com/share/1BHcednYzG/',
              'www.facebook.com',
              'www.facebook.com',
              'https://wa.me/923038455848'
            ]
          }"
        />
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <app-profile-card
          [carddata]="{
            imgurl: '/profilePics/jehanzeb.jpeg',
            designation: 'CEO',
            name: 'jehanzeb khan',
            cellno:923449777231,
            links: [
              'https://www.facebook.com/share/1D9ZYq1tjP/',
              'www.facebook.com',
              'www.facebook.com',
              'https://wa.me/923449777231'
            ]
          }"
        />
      </div>

      <div class="col-12 col-sm-6 col-lg-3 my-5">
        <app-profile-card
          [carddata]="{
            imgurl: '/profilePics/farooq.jpeg',
            designation: 'COO',
            name: 'farooq khan',
              cellno:923477703927,
            links: [
              'https://www.facebook.com/share/17cUQMydJ2/',
              'www.facebook.com',
              'www.facebook.com',
              'https://wa.me/923477703927'
            ]
          }"
        />
      </div>
    </div>
  </div>
</section>
