<section id="title" class="titlebg">
    <div class="container">
        <div class="pagetitle">
            <!-- <h3 class="fs-3 contactheading m-3">{{data?.link}}</h3> -->
            <ul class="list-unstyled m-0">
                <!-- <li class="list-inline-item fs-5 "><a class="text-decoration-none text-uppercase" [routerLink]="data?.link">{{data?.page1}}</a></li>
                <li class="list-inline-item fs-5"><p>|</p></li> -->
                <li class="list-inline-item fs-5"><a class="text-decoration-none text-uppercase" routerLink="">{{data?.page2}}</a></li>
              
            </ul>

        </div>
    </div>
</section>
