/* You can add global styles to this file, and also import other style files */
:root {
  --bg-primary: rgb(51, 16, 16) !important;
  --bg-secondary: #fefefe !important;
  --bg-tertiary: rgb(225, 228, 242) !important;
  --primary-color:  #d9a42f !important;
  --secondary-color: #993b7e !important;
}

body {
  font-family: "Lato", sans-serif;
}

.bg-primary {
  background-color: var( --bg-primary) !important;
}
.bg-secondary {
  background-color: var( --bg-secondary) !important;
}
.bg-tertiary {
  background-color: var( --bg-tertiary) !important;
}
.color-primary {
  color: var(  --primary-color) !important;
}
.color-secondary {
  color: var( --primary-color) !important;
}
.border-primary {
  border-color: var( --bg-primary) !important;
}

.colorgray {
  color: gray;
}
.inverted {
  filter: invert();
}
.logo {
  max-width: 200px;
  height: auto;
  transition: all 0.5s ease;
}
.icon {
  object-fit: contain;
  width: 25px;
  height: 25px;
  filter: invert();
  margin: 20px 0px 0px 20px;
}
.description {
  font-size: 15px;
  font-weight: 400;
  color: #757575;
  line-height: 26px;
  margin: 0 10% 24px;
}

.dividerimg img {
  width: 130px;
}

.headingprimary {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
  margin: 50px 0 10px;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.9);
}
.headingsecondary{
    font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
  margin: 30px 10% 20px;

}



.input {
  text-transform: uppercase;
  height: 45px;
  margin: 5px 15px !important;
  /* padding: 0 0 0 20px; */
  position: relative !important;
  z-index: 1;
  border-radius: 5px !important;
  background: rgba(245, 245, 245, 0.5);
  &:focus {
    border: 1px solid var( --bg-primary) !important;
    box-shadow: none !important;
    background: rgba(245, 245, 245, 0);
  }
  &.white::placeholder {
    color: #ffffff75 !important;
  }
  &.dark::placeholder {
    color: #ffffff5e !important;
  }
}


.textarea {
  background: rgba(245, 245, 245, 0.5);
  text-transform: uppercase;
  height: 180px;
  color: #1d1d1d99 !important;
  padding: 0 0 0 12px !important;
  border-radius: 5px;
  resize: none;
 margin: 5px 15px !important;
  &:focus {
    border: 1px solid var( --bg-primary) !important;
    background: rgba(245, 245, 245, 0.5);
    box-shadow: none !important;
  }
}


.bginput {
  background-color: rgba(0, 0, 0, 0.2);
}
.inputicon img {
  position: absolute;
  right: 40px;
  top: 17px;
  width: 20px;
  z-index: 6;
}





.loginnow {
  background: #f5f5f5;
  padding: 50px;
  border: 1px solid #e5e5e5;
  height: 690px;
  margin-bottom: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}




.sociallinks {
  color: #fff;
  height: 35px;
  width: 35px;
  display: block;
  line-height: 13px;
  font-size: 22px;
  padding: 8px;
  background: rgba(78, 77, 78, 0.358);
  border-radius: 50%;
}

.socialicons {
  width: 100%;
  height: 100%;
  filter: invert(1);
}


.getintuchbtn {
  background-color: var( --bg-primary);
  color: white;
  padding: 6px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: "sans serf";
  transition: color 0.5s ease, background-color 0.5s ease;
  border: 1px solid var( --bg-primary);
  &:hover {
    background-color: white;
    color: var( --bg-primary);
    border: 1px solid var( --bg-primary);
  }
}


.btnsecondary{
   background: #ffffff;
  color: var( --bg-primary);
  border: 1px solid var( --bg-primary);
  padding: 8px;
  border-radius: 5px;
  width: 110px;
  height: 34px;
  font-size: 13px;
  font-weight: 800;
  font-family: "sans serf";
  transition: color 0.5s ease, background-color 0.5s ease;

  &:hover{
      background-color: var( --bg-primary);
  color: white;
  border: 1px solid var( --bg-primary);
  }
}
.menuViewbtn {
  background: #ffffff;
  color: var( --bg-primary);
  border: 1px solid var( --bg-primary);
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  height: 57px;
  font-size: 24px;
  font-family: "sans serf";
  transition: color 0.5s ease, background-color 0.5s ease;

  &:hover{
      background-color: var( --bg-primary);
  color: white;
  border: 1px solid var( --bg-primary);
  }
}

.hide {
  display: none;
}

/* home ourmenu tabs pan  */
.tab-content > .active {
  display: flex !important;
}

.card {
  transition: ease-in-out 0.3s all;
  &:hover{
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

  }
}

/* section img and bg*/
#ourchefs {
  background-color: #e7e5e5;
}

#OurBlog {
  background-color: #f5f5f5;
}

.ourblogsimgright {
  background: url("/imgs/blogbg-2.png") no-repeat right top;
}
.ourblogsimgleft {
  background: url("/imgs/blogbg-1.png") no-repeat left bottom;
}

.ourMenuimgright {
  background: url("/imgs/bg-big-right.png") no-repeat right bottom;
}
.ourMenuimgleft {
  background: url("/imgs/bg-big-left.png") no-repeat left bottom;
}




/*--------*/




input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.hidescrolbar {
  overflow-x: scroll;
  scrollbar-width: none;
}

.hidescrolbar::-webkit-scrollbar {
  display: none;
}

/* ---------------------- */

@media (max-width: 1199.98px) {
  .headingprimary {
    font-size: 32px !important;
  }
}

@media (max-width: 991.98px) {
  .headingprimary {
    font-size: 28px !important;
  }
  .description {
    font-size: 14px;
  }
}

@media (max-width: 766.98px) {
  .headingprimary {
    font-size: 24px !important;
  }
  .description {
    margin: 0 0 24px !important;
  }
  .getintuchbtn {
  
  padding: 6px;

 
  height: 35px;
  font-size: 15px;
 
}
}

@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
